<form [formGroup]="mainForm" (ngSubmit)="onSubmitForm()">
    <label>Enter a zipcode : </label>
    <input type="text" formControlName="zipCodeCtrl" >
    <div>
        <span class="error-form">{{getFormControlErrorText(zipCodeCtrl)}}</span>
    </div>
    <button class="btn btn-primary" type="submit" value="Add Location" [disabled]="mainForm.invalid">Add location</button>
</form>