<div>
    <button (click)="onDeleteZipCode()">x</button>
    <div>{{zipCodeWeather.name}}</div>
    <div>
        <div>
            <strong>Current conditions : </strong>
            <div *ngFor="let condition of zipCodeWeather.weather">
            <div class="flex">
                <div>
                    {{condition.main}}
                    <img  *ngIf="condition.imgUrl" [src]="condition.imgUrl" [alt]="condition.main" class="img-style">
                </div>
                   
            </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <strong>Temperature : </strong>
            <span>{{zipCodeWeather.main.temp}}</span>
        </div>
        <div>
            <strong>Max today : </strong>
            <span>{{zipCodeWeather.main.temp_max}}</span>
            - 
            <strong>Min today : </strong>
            <span>{{zipCodeWeather.main.temp_min}}</span>
        </div>
    </div>
    <button (click)="onForecastZipCode()">Forecast</button>
</div>