
<div class="error-message" *ngIf="errorMessage">
    {{errorMessage}}
</div>

<app-zip-code-form (zipCodeWeatherAdded)="onZipCodeWeatherAdded($event)"></app-zip-code-form>
<app-zip-code-list-item *ngFor="let item of zipCodes" 
[zipCodeWeather]="item" 
(zipCodeWeatherDeleted)="onDeleteZidCode($event)"
(zipCodeWeatherForecast)="onForecastZipCode($event)">

</app-zip-code-list-item>