<div class="error-message" *ngIf="errorMessage">
    {{errorMessage}}
</div>
<div *ngIf="zipCodeForecast$ | async as zipCodeWeather">
    {{zipCodeWeather.city.name}} {{zipCodeWeather.zipCode}} 

    <div *ngFor="let item of zipCodeWeather.list;let i = index">
        <span>
            {{ getDate(item.dt) | date : 'EEEE'  }} : {{item.weather[0].main}} 
        - High : {{item.temp.max}} - Low : {{item.temp.min}}
        </span>
        <img *ngIf="item.weather[0]?.imgUrl" [src]="item.weather[0].imgUrl" [alt]="item.weather[0].main" class="img-style">
        <br>
        <span style="color: blue;">
           with pipe :  {{ item.dt | day }} : {{item.weather[0].main}} 
        - High : {{item.temp.max}} - Low : {{item.temp.min}}
        </span>
        
    </div>
    
</div>
<button routerLink="/">Return</button>